<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.trkj.crmproject.dao.FollowDao">
    <insert id="insertFollow">
        insert into follow(follow_title,customer_id,contact,follow_date,founder,follow_manner,follow_content)
        values (#{follow_title},#{customer_id},#{contact},#{follow_date},#{user_name},#{follow_manner},#{follow_content})
    </insert>
    <select id="findFollow" resultType="com.trkj.crmproject.entity.Follow">
        select follow.follow_id,follow.follow_title,follow.customer_id,follow.contact,follow.follow_date,
        follow.founder,customer.customer_name,follow.follow_manner,follow.follow_content
        from follow,customer where follow.founder=#{user_name} and customer.customer_id=follow.customer_id
        <if test="customer_name != null and customer_name != ''">
            and customer.customer_name like '%${customer_name}%'
        </if>
        <if test="follow_title != null and follow_title != ''">
            and follow.follow_title like '%${follow_title}%'
        </if>
        <if test="time1 != null and time1 != '' and time2!=null and time2 != ''">
            and date(follow.follow_date) between #{time1} and #{time2}
        </if>
    </select>

</mapper>